/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');

body{
    background-color: #EBEBEB;
}

.container{
    padding-left: 0;
    padding-right: 0;
}

.main{
    background-color: white;
    box-shadow: 0 0 4px rgba(0, 0, 50, .3);
    position: relative;
}

.toast{
    position: absolute;
    top: 0;
    right: 0;
}

.banner{
    height: 200px;
    background-image: url("../images/bethany-fullsize.jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center 0px;
    background-color: red;
}

.sub-title{
    background-image: url("../images/pattern.png");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center 0px;
}

h3{
    font-weight: bold;
}

h4{
    font-weight: bold;
    margin: 0;
}

.logo{
    width: 250px;
    height: 250px;
}

.icon{
    width: 40px;
    height: 40px;
}

.history{
    font-style: italic;
}

.title{
    font-family: 'Galada', cursive;
    font-size: 2rem;
    color: #434343;
}

.sub-title{
    background-color: #4ECFA8;
}

.sub-title > h1{
    color: #fff;
    font-family: 'Galada', cursive;
    font-size: 4rem;
    margin: 0;
}

.footer > p{
    margin: 0;
    font-size: .7rem;
}

.footer > .italic{
    font-style: italic;
}

.thumb{
    width: auto;
    height: 100px;
}

.pie-recipe, .pie-modal{
    font-size: .675rem;
}

video {
    max-width: 100% !important;
    height: auto !important;
}

/* Responsive */
/* Extra small devices (phones, less than 768px) */

/* Small devices (tablets,  and up) */
@media (min-width: 768px) {

}

/* Medium devices (desktops,  and up) */
@media (min-width: 992px) {
    .banner{
        height: 600px;
    }
}

/* Large devices (large desktops,  and up) */
@media (min-width: 1200px) {

}